/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.slider-backgound{
    background-color: #FEEAE9;
}
.special-button-css{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border: none;
    padding: 14px 25px;
    color: white;
}
.special-button-css:hover{
    color: white;
}
.watch-background{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.shoe-background{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.bag-background{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.shoes-background{
    background-color: #F4F4F4;
}